apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: python-counter
  name: python-counter
spec:
  replicas: 1
  selector:
    matchLabels:
      app: python-counter
  strategy: {}
  template:
    metadata:
      labels:
        app: python-counter
    spec:
      containers:
      - image: ghcr.io/carvidonet/python-counter:1.3.6
        names: counter
        resources: {}
status: {}
